.container {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 10%;
    max-width: 1370px;
}

#row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.text-right {
    text-align: right;
}


#navbar-ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
}

.nav-link {
    padding-left: 23px !important;
    padding-right: 23px !important;
    color: #fff !important;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    padding: .5rem 0;
    color: rgba(255, 255, 255, .5);
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.ajanlat-but {
    background-color: #04E762;
    color: #f5f5f5 !important;
    padding-bottom: 4px !important;
    padding-top: 4px !important;
    margin-top: 12px;
}

.header-area {
    background-color: rgba(39, 60, 44, 0.8);
    padding-top: 0;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    z-index: 9;
    margin-bottom: 0;
    padding-left: 0;
    padding: 0 0;
}


.nav-link:hover, #active {
    background-color: #04E762;
    text-decoration: none;
    color: #fff;
}

.nav-link:focus, .nav-link:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, .75);
}

#navbar {
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background: #04bd50;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.short_contact_list a:hover {
    color: #01b7f2;
    text-decoration: none;
}

.short_contact_list {
    text-align: left;
    margin-top: 25px;
}

.short_contact_list ul li {
    display: inline-block;
    text-align: center !important;
}

.short_contact_list ul li a {
    margin-left: 0;
    margin-right: 15px;
    display: inline-block;
    padding: 0 5px;
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}


.col-10, .col-2 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    text-align: left !important;
}

.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}



#navbar-brand {
    color: #fff;
    display: inline-block;
    padding-top: 10px;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

#navbar-brand:focus, #navbar-brand:hover {
    text-decoration: none;
}

#logox {
    height: 60px;
    width: 100px;
    display: inline-block !important;
    text-align: left !important;
    margin-right: .5rem !important;
}

#text-right {
    text-align: right !important;
}